body {
    background: url('https://gagadget.com/media/post_big/SILENT_HILL_2_20241010233057_owT9LiJ.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: moveBackground 60s linear infinite;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: rgba(0, 0, 0, 0.648);
    color: white;
    text-align: center;
    padding: 20px;
        }

        nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: red;
}
main {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    text-align: center;
}
h2 {
    color: red;
}
main ul {
    list-style: none;
    padding: 0;
    text-align: center;
} 
@keyframes moveBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    display: flex;              
    align-items: center;        
    justify-content: center;    
    gap: 45px;                  
}

.container img {
    width: 115px;               
}

.texto {
    max-width: 500px;           
}
.texto h2 {
    color: red;                
    margin-bottom: 20px;        
}

.container-2 {
    display: flex;              
    align-items: center;        
    justify-content: center;    
    gap: 45px;                  
}

.container-2 img {
    width: 670px;               
}

.desconhecida {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;           
}
.desconhecida img {
    width: 670px;               
} 